{% extends 'base.html' %}
{% block content %}

<div class="blog_container">
    <h1>#{{tag}} 게시물 목록</h1>
    <hr>
    {% for b in posts %}
    <div class="blog">
        <h2 class="title"><a href="{% url 'main:detail' b.id %}">제목 : {{ b.title }}</a></h2>
        <h4>작성자 : {{b.author }}</h4>
        <p>내용 : {{ b.body }}</p>
    </div>
    <hr>
    {% endfor %}
    <h1>#{{tag}} 댓글 목록</h1>
    <hr>
    {% for c in comments %}
    <div class="blog">
        <h2 class="title"><a href="{% url 'main:detail' c.post.id %}">게시글 제목 : {{ c.post.title }}</a></h2>
        <h4>작성자 : {{c.author }}</h4>
        <p>내용 : {{ c.content }}</p>
    </div>
    <hr>
    {% endfor %}
</div>

{% endblock %}